body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  color: darkslategrey;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
  color: darkolivegreen;
}
h3{
  text-decoration: underline dotted darkcyan;
  text-decoration-thickness: 3px;
  font-size: 100%;
}
.answers{
  text-emphasis: "o" green;
  text-emphasis-position: under right;

}
ul{
  color: darkblue;
}
h5{
  font-size: 1.25rem;
}
p{
  font-size: 1rem;
}
footer{
  font-size: small;
}