body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
h1{
  color: darkslategrey;
  font-size: 40px;
}
h2{
  
}
#age{
  height: 30px;
}
h3{
  
}
#address{
  height: 30px;
}
h4{

}
#music{
  height: 30px;
}
#movie{
  height: 30px;
}
ul{
  color: darkblue;
}
h5{
  font-size: 1.25rem;
}
#profile{
  height: 30px;
}
p{
  font-size: 1rem;
}
footer{
  font-size: small;
}
#letter{
  height: 30px;
}