<section className="holder">
  <div className="historia">
    <h2>Historia</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
      dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
      dolore? Est, neque?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
      dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
      dolore? Est, neque?</p>
  </div>
  <h2>Staff</h2>
  <div className="personas">
    <div className="persona">
      <img src="images/nosotros/nosotros1.jpg" width='75' alt="Juan" />
      <h5>Juan Gomez</h5>
      <h6>Gerente Genberal</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
        dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
        dolore? Est, neque?</p>
    </div>
    <div className="persona">
      <img src="images/nosotros/nosotros2.jpg" width='75' alt="Juan" />
      <h5>Diana Reyes</h5>
      <h6>Gerente Comercial</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
        dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
        dolore? Est, neque?</p>
    </div>
    <div className="persona">
      <img src="images/nosotros/nosotros3.jpg" width='75' alt="Juan" />
      <h5>Roberto Zaptos</h5>
      <h6>Gerente de Sistemas</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
        dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
        dolore? Est, neque?</p>
    </div>
    <div className="persona">
      <img src="images/nosotros/nosotros4.jpg" width='75' alt="Juan" />
      <h5>Sandra Mastropiero</h5>
      <h6>Gerente de Marketing</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
        dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
        dolore? Est, neque?</p>
    </div>
    <div className="persona">
      <img src="images/nosotros/nosotros5.jpg" width='75' alt="Juan" />
      <h5>Luciano Figuero</h5>
      <h6>Gerente Logistica</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora aspernatur omnis dignissimos ad corporis
        dolorum sequi dolorem saepe totam, maiores cupiditate itaque, facere molestiae asperiores cumque quae
        dolore? Est, neque?</p>
    </div>
  </div>
</section>